@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  margin: 0 auto;
  width: 1152px;
}

.header-container {
  height: 50px;
  background-color: #e5e5e5;
  width: 1152px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}

.ul-items {
  color: rgba(149, 155, 164, 1);
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin: 0 126px 0 0;
  padding-left: 0;
  font-size: 11px;
  display: flex;
  list-style-type: none;
}

.header-li {
  margin: 17px 0 14px 25px;
}

.header-li:hover {
  color: black;
}

.logo {
  margin-top: 15px;
  margin-left: 100px;
  width: 89px;
  height: 23px;
}

.logIn {
  border: none;
  outline: none;
  background: #ffffff;
  border-radius: 4px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  line-height: 13px;
  margin-top: 9px;
  margin-right: 100px;
  width: 58px;
  height: 33px;
}

.main-container {
  width: 643px;
  display: block;
  margin: 0 auto;
}

.h1-text {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
}

.select-section {
  display: flex;
  justify-content: unset;
  width: 248px;
}

.ih-section {
  position: relative;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(198, 198, 198, 1);
  outline: none;
  width: 50px;
  height: 28px;
  border: solid #e5e5e5 1px;
}

.first {
  border-radius: 3px 0 0 3px;
}

.last {
  border-radius: 0 3px 3px 0;
}

.ih-section-fix {
  font-family: "Roboto", sans-serif;
  background-color: rgba(131, 58, 224, 1);
  color: #ffffff;
  outline: none;
  width: 50px;
  height: 28px;
  border: solid #e5e5e5 1px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.in-section {
  position: relative;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(198, 198, 198, 1);
  outline: none;
  width: 50px;
  height: 28px;
  border: solid #e5e5e5 1px;
}

.in-section-fix {
  font-family: "Roboto", sans-serif;
  background-color: rgba(131, 58, 224, 1);
  color: #ffffff;
  outline: none;
  width: 50px;
  height: 28px;
  border: solid #e5e5e5 1px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.drop-from {
  color: rgba(198, 198, 198, 1);
  outline: none;
  border: solid #e5e5e5 1px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.drop-to {
  color: rgba(198, 198, 198, 1);
  outline: none;
  border: solid #e5e5e5 1px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.label {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #9f9f9f;
}

.ih-input-section {
  margin-top: 20px;
  width: 259px;
  height: 102px;
  border: solid 1px #e5e5e5;
  border-radius: 3px;
}

.select-container {
  display: flex;
}

.in-input-section {
  margin-top: 20px;
  width: 252px;
  height: 102px;
  border: solid 1px #e5e5e5;
  border-radius: 3px;
}

.ih-input-section {
  width: 252px;
  height: 102px;
  border: solid 1px #e5e5e5;
  border-radius: 3px;
}

.ineed-input {
  width: 215px;
  height: 38px;
  margin-top: 11px;
  margin-left: 14px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  border: none;
  outline: none;
}

.ihave-input {
  width: 215px;
  height: 38px;
  margin-top: 11px;
  margin-left: 14px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  border: none;
  outline: none;
}

.switch {
  background: url(/img/revers.svg) no-repeat center;
  width: 50px;
  height: 40px;
  margin-top: 120px;
  margin-left: 32px;
  margin-right: 32px;
  border: none;
  outline: none;
}

.from-currency-value {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #9f9f9f;
  margin-top: 20px;
  margin-left: 16px;
}

.to-currency-value {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #9f9f9f;
  margin-top: 20px;
  margin-left: 16px;
}
